body {
  background: rgba(51, 148, 249, 0.64);
  font-family: 'Droid Sans', sans-serif;
}




header {
  padding: 25px 0 25px 0;
  background: white;
  overflow: auto;
  border-bottom: 1px solid #ddd;
}



.container h1{
  color: #428bca;
  font-size: 3.5em;
  float: left;
  font-family: 'Ubuntu', sans-serif;
  font-style: italic;
}




a {
  color: #f00;
  text-decoration: none;
  font-weight: bold;
}

nav a{
  color: white;
  font-size: 1.4em;
  line-height: 150px;

}

nav a:hover{
  text-decoration: none;
}

nav a:active{
  text-decoration: none;
}

nav a:visited{
  text-decoration: none;
}



main {
    background: #fff;
    border-radius: 0 5px 5px 5px;;
    padding: 40px;
}

.tabs a span {
    border-radius: 5px 5px 0 0;
    display: inline-block;
    width: 100px;
    margin-right: 10px;
    text-align: center;
    background: #ddd;
    padding: 5px;
}

.tabs a .active {
    background: #eee;
}

main .content {
    padding: 30px 10px 30px 10px;
    border-radius: 0 5px 5px 5px;
    background: #eee;
}

main .content li {
    border-radius: 5px;
    padding: 3px;
    background: #eff;
    margin: 0 0 10px 0;
}


li {
    list-style: none;
}

main {
  overflow: auto;
  padding: 30px 0;
  border-bottom: 1px solid darkslategray;
}




.img-circle {
	width: 70px;
	height: 70px;
}

.info {
  float: right;
}

.nav.nav-pills.nav-stacked {
  max-width: 100px;
}


div#barra-lateral{
  position:fixed;
  width:50px;
  height:100%;
  background-color:#428bca;
  overflow:hidden;
  -webkit-transition:width 0.5s cubic-bezier(.61,.01,.37,1);
}

div#barra-lateral:hover{
  width:190px;
}

div#logo-menu{
  width:40px;
  height:40px;
  margin-left:5px;
}

#icono_menu{
  color: white;
}

div#contenedor-logos-primero{
  margin-top:70px;
}

div.contenedor-logos{
  margin-top:80px;
  margin-left:50px;
  width:130px;
  height:40px;
  
}

div.logo{
  width:40px;
  height:40px;
  float: left;
}

p.title-menu{
  margin-left:40px;
  line-height: 40px;
  color: white;
}

div#body{
  position:absolute;
  right:0px;
  min-height:300px;
  left:170px;
}

div#texto{
  width:50%;
  min-height:300px;
  float:left;
}

p#texto-contenedor-1{
  font-size:25px;
  margin:30px;
  margin-top:50px;
  color:#595959;
}

div#foto{
  width:50%;
  height:300px;
  float:right;
}

img#foto-contenedor-1{
  margin:auto;
  margin-top:15px;
  width:300px;
  display:block;
}

main .container {
  max-width: 100px
  margin-left: 300px;
}

fieldset {
    display: table;
}
fieldset p {
    display: table-row;
}
fieldset h2 {
    margin-left: 50px;
}
fieldset input, fieldset select, fieldset label {
    display: table-cell;
    margin: 10px;
}
fieldset label {
    text-align: right;
}

.table-responsive td,.table-responsive th {
   text-align: center;   
}
.table-responsive {
  border: 2px solid;
} 
.btn-xs {
  margin-left: 15px;
}


#muestra-nueva {
	margin-left: 300px;
	padding-left: 40px;
  display: none;
  background-color: #84AED3;
  margin-right: 300px;
  padding-bottom: 20px;
  border: 1px solid;
}

#muestra {
  display: block;
  background-color: #84AED3;
  margin-bottom: 20px;
}

.btn-lg {
	margin-left: 50px;
	margin-top: 20px;
}
.pull-right{
	margin-top: 8px;
}
