body {
  background: rgba(51, 148, 249, 0.64);
  font-family: 'Droid Sans', sans-serif;
}




header {
  padding: 25px 0 25px 0;
  background: white;
  border-bottom: 1px solid #ddd;
}



.container h1{
  color: #428bca;
  font-size: 4.2em;
  font-family: 'Ubuntu', sans-serif;
  font-style: italic;
}

.info{
  font-size: 1em;
}



a {
  color: #f00;
  text-decoration: none;
  font-weight: bold;
}


nav a{
  color: white;
  font-size: 1.4em;
  line-height: 150px;

}

nav a:hover{
  text-decoration: none;
}

nav a:active{
  text-decoration: none;
}

nav a:visited{
  text-decoration: none;
}



main {
    background: #fff;
    border-radius: 0 5px 5px 5px;;
    padding: 40px;
}

.tabs a span {
    border-radius: 5px 5px 0 0;
    display: inline-block;
    width: 100px;
    margin-right: 10px;
    text-align: center;
    background: #ddd;
    padding: 5px;
    font-size: 1.2em;
}

.tabs a .active {
    background: #eee;
}

main .content {
    padding: 30px 10px 30px 10px;
    border-radius: 0 5px 5px 5px;
    background: #eee;
}

li {
    list-style: none;
}

main {
  overflow: auto;
  padding: 30px 30px; /*Top y bottom de 30 px;*/
  border-bottom: 1px solid darkslategray;
}


.img-circle {
  width: 70px;
  height: 70px;
}



div#barra-lateral{
  position:fixed;
  width:50px;
  height:100%;
  background-color:#428bca;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  z-index: 1;
  overflow:hidden;
  -webkit-transition: width 0.5s cubic-bezier(.61,.01,.37,1);
  -moz-transition: width 0.5s cubic-bezier(.61,.01,.37,1);
  -o-transition: width 0.5s cubic-bezier(.61,.01,.37,1);

}

div#barra-lateral:hover{
  width:185px;
  z-index: 1;
}

div#logo-menu{
  width:40px;
  height:40px;
  margin-left:5px;
}

#icono_menu{
  color: white;
}

div#contenedor-logos-primero{
  margin-top:70px;
}

div.contenedor-logos{
  margin-top:80px;
  margin-left:50px;
  width:130px;
  height:40px;
  
}

a.thumbnail{
  background-color: #84AED3;
}

main .container {
  max-width: 100px
  margin-left: 300px;
}


#detalles{
  background-color: #84AED3;
  color: white;
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 20px;
  padding-right: 20px;
  font-family: 'Open Sans', sans-serif;
}



a.thumbnail:hover{
  text-decoration: none;
}
.nombresCentrosMedicos{
  color: #1B3953;
  text-align: center;
  text-decoration: none;
}

.nombresCentrosMedicos:hover{
  color: white;
  text-decoration: none;
}

#nombre_hospital h2{
  text-align: center;
  margin-bottom: 40px;
  font-weight: bold;
  /*color: #18334A;*/
  color: #1B3953;
} 
#detalles div div:nth-child(2),#detalles div div:nth-child(3){
  line-height: 2.5em;
  float: left;
}
#detalles div div label{   
  display: block;
  font-size: 1.2em;
}
#detalles div div:nth-child(2),#detalles div div:nth-child(4){
  
  color: #1B3953;
}
#detalles div div:nth-child(3){

}

/*ESTILOS APLICADOS PARA DISPOSITIVOS PEQUEÑOS*/
  @media screen and (max-width: 768px) {
    .container h1{
      font-size: 2.8em;
    }

    div#barra-lateral{
      position:fixed;
      width:50px;
      height:100%;
    }

    div#barra-lateral:hover{
      width:140px;
    }
    nav a{
      font-size: 1em;
      line-height: 140px;
    }
    div#logo-menu{
      width:30px;
      height:30px;
      margin-left:5px;
    }

    div#contenedor-logos-primero{
      margin-top:50px;
    }

    div.contenedor-logos{
      margin-top:80px;
      margin-left:50px;
      width:130px;
      height:40px;
      
    }

    .info{
      margin-top: 20px;
      font-size: 0.7em;
    }
    .tabs a span {
        width: 70px;
        font-size: 0.8em;
    }
    .embed-container {
        position: relative;
        padding-bottom: 100%;
        height: 0;
        overflow: hidden;
    }
    .embed-container iframe {
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    #detalles div div:nth-child(2),#detalles div div:nth-child(3){
      line-height: 2.5em;

    }
    #detalles div div label{   
      display: block;
      font-size: 0.8em;
    }
    #detalles div div:nth-child(2),#detalles div div:nth-child(4){ 
      color: #1B3953;
    }
    #detalles div div:nth-child(3){

    } 
    #examenes table th,#examenes table td{
      font-size: 0.8em;
    }
    .nombresCentrosMedicos{
      font-size: 0.4em;
    }
}